@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}


header {
    /* position: absolute; */
    position: relative;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: rgb(228, 204, 233);
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.05);
}
.logo{
    height: 10rem;
    width: 10rem;
}

.group {
    display: flex;
    align-items: center;
}

header ul {
    position: relative;
    display: flex;
    gap: 30px;
}

header ul li {
    list-style: none;
}

header ul li a {
    position: relative;
    font-size: 1.2em;
    text-decoration: none;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}

header ul li a::before {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: #333;
    transform: scaleX(0);
    transition: transform .5s ease-in-out;
    transform-origin: right;
}

header ul li a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.search {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    z-index: 10;
    cursor: pointer;
}

.searchBox {
    position: absolute;
    right: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    background: #fff;
    align-items: center;
    padding: 0 30px;
    transition: 0.5s ease-in-out;

}

.showSearchBox {
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    background: #fff;
    align-items: center;
    padding: 0 30px;
    transition: 0.5s ease-in-out;

}

.showSearchBox input {
    width: 100%;
    border: none;
    outline: none;
    height: 50px;
    color: #333;
    font-size: 1.25em;
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    
}

.searchBox input {
    width: 100%;
    border: none;
    outline: none;
    height: 50px;
    color: #333;
    font-size: 1.25em;
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);


}

.searchBtn {
    position: relative;
    left: 30px;
    top: 2.5px;
}

.closeBtn {
    opacity: 1;
    visibility: visible;
    scale: 1;
}

.barbtn {
    position: relative;
    display: none;
}


/* Resonsive Starts Here */
@media only screen and (max-width: 600px) {
    header ul li a {
        color: white;
    }

    header #navigation {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 90px;
        right: -300px;
        width: 300px;
        height: 100vh;
        background-color: #2a3239;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        transition: .5s ease-in-out;
        z-index: 10;
    }

    #navigation.active {
        right: 0;
    }

    .barbtn {
        position: absolute;
        right: 3.9em;
        display: block;
        cursor: pointer;
    }
}


